* {
    touch-action: none pinch-zoom;
}

html, body {
    /*height: 100%;
    width: 100%;*/
    background-color: black;
}
#book{
    margin-left: auto;
    margin-right: auto;
    /*width:918px;
    height:650px;*/

    /*width: 60%;*/
    /*height: 400px;*/
    /*box-shadow: 0px 0px 20px gray;*/
    margin-top: 50px;
}

#book .turn-page{
	/*
	background-color:white;
	*/
	/*background-color:silver;*/
	/*box-shadow: 0px 0px 10px gray;*/
}


#book .cover{
	background:#333;
}

#book .data{
    background-color: #000;
}
#book .data img {
    width: 100%!important;
    height: 100%!important;
    opacity: 0;

}

#book .data.loaded img{
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    -ms-transition: opacity 400ms;
    transition: opacity 400ms;

    opacity: 1;
}

.odd .data {
	text-align: right;
}

.even .data {
	text-align: left;
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
    background-color: #444;
    -moz-border-radius: 5px;
    border-radius: 3px;
    margin-top: 30px;

}

#progress {
    background-color: white;
    height: 10px;

    -moz-border-radius: 5px;
    border-radius: 3px;

    -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    transition:width 300ms ease-in-out, height 300ms ease-in-out;
}
