body {overflow-y:auto;}


.shelf .item * {
  width: 230px;
}

.shelf {
    color: white;
    margin:0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align:center;
}
.shelf .item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px
}

.title {
  font-weight: bold;
  font-size: 120%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.autor, .year {
  color: #777;
  font-size: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.status {
    position:absolute;
    bottom: 0;
    right:0;
    margin: 10px;
    height: 20px;
    width: 20px;
    margin-left: 50px;
    background-image: url(../images/status.svg);
    background-size: cover;
    color: red;
}
